extends ../base

block append header
    include ../inc/_header

block content
    //- <div class="alert alert--success">Successfull</div>
    section#form.section-form
        .container
            .form
                .form-text-box
                    h2.heading-secondary Login to your account!
                    p.form-text
                        | Healthy, tasty and hassle-free meals are waiting for you. Start
                        | eating well today. You can cancel or pause anytime. And the
                        | first meal is on us!
                    form.form--login.form-form
                        div
                            label(for='email') Email address
                            input#email(type='email' placeholder='me@example.com' required='')
                        div
                            label(for='password') Password
                            input#password(type='password' placeholder='••••••••' required='')

                        button.btn.btn--form Login
                        a.link(href="/forgotPassword") Forgot Password?
                        //- <div class="g-signin2" data-onsuccess="onSignIn"></div> 
                        //
                            <input type="checkbox" />
                            <input type="number" />
                .form-img-box(role='img' aria-label='Food')
