extends ../base 

block header
    include ../inc/_header

block content
    section#form-admin.section-form-admin
        .container
            .form-admin
                .form-admin-text-box
                    h2.heading-secondary Reset your password
                    p.form-admin-text Enter the new password.
                    form.form-admin--resetPassword.form-admin-form-admin
                        div
                            label(for='newPassword') Enter your new password
                            input#newPassword(type='password' placeholder='••••••••' required='')                      
                        div
                            label(for='confirmNewPassword') Confirm password
                            input#confirmNewPassword(type='password' placeholder='••••••••' required='')
                        button.btn-add-dish.btn.btn--form-admin Reset Password