:root {
  --color-primary: #1fbacf;
  --color-primary-lighter: #e9f8fa;
  --color-primary-darker: #1ca7ba;
  --color-grey: #555;
  --color-grey-darker: #333;
}

/* ---------------------------------------------------------------------------------------------*/
/*  FOOTER START */
/* ---------------------------------------------------------------------------------------------*/
.footer {
  /* Top / right / bottom / left */
  padding: 9.8rem 0 12.8rem 0;
  border-top: 2px solid #eee;
  background-color: #fff;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  /* margin-bottom: 3.2rem; */
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  /* justify-content: center; */
}

.copyright {
  font-size: 1.6rem;
  color: #767676;
  line-height: 1.6;

  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: var(--general-font-weight);
  margin-bottom: 3.2rem;
  margin-bottom: 4rem;
}

.contacts {
  font-size: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #767676;
  transition: all 0.5s;
}

.footer-link:hover,
.footer-link:active {
  color: #222;
}

.heart {
  color: #eb1708;
  font-size: var(--general-font-size);
}

/* ---------------------------------------------------------------------------------------------*/
/*  FOOTER END */
/* ---------------------------------------------------------------------------------------------*/
