:root {
  --color-primary: #1fbacf;
  --color-primary-lighter: #e9f8fa;
  --color-primary-darker: #1ca7ba;
  --color-grey: #555;
  --color-grey-darker: #333;
}

/* ---------------------------------------------------------------------------------------------*/
/*  PLACES SECTION START */
/* ---------------------------------------------------------------------------------------------*/
.section-places {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../../img/places.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../img/places.jpg);

  background-size: cover;
  background-position: center;
  height: 100vh;
  /* background-attachment: fixed; */
}

.places-text {
  color: #fff;
  text-align: center;
  padding-top: 30rem;
  font-size: 3.2rem;
  font-weight: var(--general-font-weight);
}

/* .places-img {
  display: block;
  width: 100%;
} */

/* ---------------------------------------------------------------------------------------------*/
/*  PLACES SECTION END */
/* ---------------------------------------------------------------------------------------------*/
