

footer.footer
    .container.grid.grid-footer
        .logo-col
            a.footer-logo(href='#')
                img.logo(src='/img/nutriv-logo.png' alt='Nutriv Logo')
            ul.social-links
                li
                    a.footer-link(href='https://instagram.com')
                        ion-icon.social-icon(name='logo-instagram')
                li
                    a.footer-link(href='https://facebook.com')
                        ion-icon.social-icon(name='logo-facebook')
                li
                    a.footer-link(href='https://twitter.com')
                        ion-icon.social-icon(name='logo-twitter')
                li
                    a.footer-link(href='https://linkedin.com')
                        ion-icon.social-icon(name='logo-linkedin')
            p.copyright
                | Copyright &copy; 2022 by Nutriv Inc. All rights reserved.
            p.copyright
                | Made with <ion-icon name="heart" class='heart'></ion-icon> By Akhil.
        .address-col
            p.footer-heading Contact us!
            address.contacts
                p Example Address
                p
                    a.footer-link(href='tel:415-201-6370') 415-201-6370
                    br
                    a.footer-link(href='mailto:support@nutriv.com') support@nutriv.com
        nav.nav-col
            p.footer-heading Account
            ul.footer-nav
                li
                    a.footer-link(href='/login') Login
                li
                    a.footer-link(href='/signup') Sign up
                li
                    a.footer-link(href='#') IOS app
                li
                    a.footer-link(href='#') Android app
                li
                    a.footer-link(href='#') Windows app
                li
                    a.footer-link(href='#') MAC app
        nav.nav-col
            p.footer-heading Company
            ul.footer-nav
                li
                    a.footer-link(href='#') About Nutriv
                li
                    a.footer-link(href='#') For business
                li
                    a.footer-link(href='#') Cooking partners
                li
                    a.footer-link(href='#') Careers
        nav.nav-col
            p.footer-heading Resources
            ul.footer-nav
                li
                    a.footer-link(href='/menu') Our Menu
                li
                    a.footer-link(href='#') Recipe directory
                li
                    a.footer-link(href='#') Help center
                li
                    a.footer-link(href='/terms') Privacy &amp; terms
                li
                    a.footer-link(href='/docs') Documentation
