header.header
    a(href='#')
        img.logo(src='img/nutriv-logo.png' alt='Nutriv Logo')
    nav.main-nav
        ul.main-nav-list
            li
                a.main-nav-link(href='#howitworks') How it works
            // <li><a href="#" class="main-nav-link">Features</a></li>
            li
                a.main-nav-link(href='#meals') Meals
            li
                a.main-nav-link(href='#testimonials') Testimonials
            // <li><a href="#pricing" class="main-nav-link">Pricing</a></li>
            li
                a.main-nav-link.nav-cta(href='#signup') Try now!
    button.btn-mobile-nav
        ion-icon.icon-mobile-nav(name='menu-outline')
        ion-icon.icon-mobile-nav(name='close-outline')