style. 
    .header{
        background-color:#fff
    }

header.header
    a(href='#')
        img.logo(src='/img/nutriv-logo.png' alt='Nutriv Logo')
    if user
        nav.main-nav
            ul.main-nav-list
                li
                    a.main-nav-link.nav-cta(href='/menu') All Dishes
                li
                    a.main-nav-link.nav-cta.logout(href='#') Log Out
                li
                    a.main-nav-link.nav-cta(href='/me') Settings
                li
                    a.main-nav-link(href='/me') 
                        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        button.btn-mobile-nav
            ion-icon.icon-mobile-nav(name='menu-outline')
            ion-icon.icon-mobile-nav(name='close-outline')
    else
        nav.main-nav
            ul.main-nav-list
                li
                    a.main-nav-link.nav-cta(href='/menu') All Dishes
                li
                    a.main-nav-link.nav-cta(href='/login') Login
                li
                    a.main-nav-link.nav-cta(href='/signup') Signup
        button.btn-mobile-nav
            ion-icon.icon-mobile-nav(name='menu-outline')
            ion-icon.icon-mobile-nav(name='close-outline')

            