style. 
    .header{
        background-color:#eee
    }

header.header
    a(href='#')
        img.logo(src='/img/nutriv-logo.png' alt='Nutriv Logo')
    if user
        nav.main-nav
            ul.main-nav-list
                li
                    a.main-nav-link.logout(href='/logout') Log Out
                li
                    a.main-nav-link(href='/me')= user.name.split(' ')[0]
        button.btn-mobile-nav
            ion-icon.icon-mobile-nav(name='menu-outline')
            ion-icon.icon-mobile-nav(name='close-outline')
    else
        nav.main-nav
            ul.main-nav-list
                li
                    a.main-nav-link.nav-cta(href='/login') Login
                li
                    a.main-nav-link.nav-cta(href='/signup') Signup
        button.btn-mobile-nav
            ion-icon.icon-mobile-nav(name='menu-outline')
            ion-icon.icon-mobile-nav(name='close-outline')

            