extends base 

block append head 
    link(rel="stylesheet", href="./css/cart.css")

block header 
    include inc/_header

block content 
    p.heading Your Cart
    section.section-cart
        <table>
            <thead>
                <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Delivery Time</th>
                <th>Rating</th>
                </tr>
            </thead>
            <tbody>
            each item in cartItems
                th=`${item.dish.name}`
                td=`₹${item.dish.price}`
                td=`${item.dish.deliveryTime} minutes`
                td=`${item.dish.ratingsAverage}`
                <td><a class='cart-button'>Order</a></td>
                <td><a class='cart-button delete'>Delete</a></td>
                </tr>
            </tbody>
        </table>
