extends base

block append header
    include inc/_header

block content
    p.verifyEmail Please verify your email address by clicking on the link sent to the email address provided. Please check your spam folder if you can't find it in your inbox.
