extends base 

block append header 
    include inc/_header-main
    //- script(src="/js/signup.js") 

block content
    main
        section.section-hero
            .hero
                // <img src="img/nutriv-logo.png" alt="" class="logo" />
                .hero-text-box
                    h1.heading-primary
                        | A healthy meal delivered to your door, every single day
                    p.hero-description
                        | The smart 365-days-per-year food subscription that will make you
                        | eat healthy again. Tailored to your personal tastes and
                        | nutritional needs. We have delivered 1,00,00,000+ meals last year!
                    a.btn.btn--full.margin-right-small(href='#signup') Start Eating Well!
                    a.btn.btn--light(href='#features') Learn More &darr;
                    .delivered-meals
                        .delivered-imgs
                            img(src='/img/customers/customer-1.jpg' alt='Customer Photo')
                            img(src='/img/customers/customer-2.jpg' alt='Customer Photo')
                            img(src='/img/customers/customer-3.jpg' alt='Customer Photo')
                            img(src='/img/customers/customer-4.jpg' alt='Customer Photo')
                            img(src='/img/customers/customer-5.jpg' alt='Customer Photo')
                            img(src='/img/customers/customer-6.jpg' alt='Customer Photo')
                        p.delivered-text
                            span 1000k+
                            |  meals delivered last year!
                .hero-img-box
                    img.hero-image(src='/img/hero.png' alt='Images')
        section.section-featured
            .container
                h2.heading-featured-in As featured in
                .logos
                    img(src='/img/logos/techcrunch.png' alt='Tech Crunch Logo')
                    img(src='/img/logos/business-insider.png' alt='Business Insider Logo')
                    img(src='/img/logos/the-new-york-times.png' alt='New York Times Logo')
                    img(src='/img/logos/forbes.png' alt='Forbes Logo')
                    img(src='/img/logos/usa-today.png' alt='USA Today Logo')
        section#features.features
            .container.grid.grid--4-cols
                // FEATURE 1
                .feature
                    ion-icon.feature-icon(name='infinite-outline')
                    p.feature-title Never cook again!
                    p.feature-text
                        | We&apos;re open almost everyday! Even including major holidays.
                // FEATURE 2
                .feature
                    ion-icon.feature-icon(name='nutrition-outline')
                    p.feature-title Local and organic
                    p.feature-text
                        | Our cooks only use local, fresh, and organic products to prepare
                        | your meals.
                // FEATURE 3
                .feature
                    ion-icon.feature-icon(name='leaf-outline')
                    p.feature-title No waste
                    p.feature-text
                        | All our partners only use reusable containers to package all your
                        | meals.
                // FEATURE 4
                .feature
                    ion-icon.feature-icon(name='earth-outline')
                    p.feature-title Anytime, anywhere!
                    p.feature-text
                        | Out hotels are almost in every place in the world, if not in your
                        | location we&apos;ll make sure to deliver from the nearest one!
        section#howitworks.section-howitworks
            .container
                span.subheading How it Works
                h2.heading-secondary
                    | Your daily dose of health in 3 simple steps
            .container.grid.grid--2-cols.grid--center-vertical
                // STEP 1
                .step-text-box
                    p.step-number 01
                    h3.heading-tertiary
                        | Tell us what you like (and what not)
                    p.step-description
                        | Never again waste time thinking about what to eat! Nutriv AI will
                        | create a 100% personalized weekly meal plan just for you. It makes
                        | sure you get all the nutrients and vitamins you need, no matter
                        | what diet you follow!
                .step-img-box
                    img.step-img(src='/img/app/app-screen-1.png' alt='Nutriv App Preferences selection screen')
                // STEP 2
                .step-img-box
                    img.step-img(src='/img/app/app-screen-2.png' alt='Nutriv App Meal Approving plan')
                .step-text-box
                    p.step-number 02
                    h3.heading-tertiary Approve your weekly meal plan
                    p.step-description
                        | Once per week, approve the meal plan generated for you by Nutriv
                        | AI. You can change ingredients, swap entire meals, or even add
                        | your own recipes.
                // STEP 3
                .step-text-box
                    p.step-number 03
                    h3.heading-tertiary Receive meals at convenient time
                    p.step-description
                        | Best chefs in town will cook your selected meal every day, and we
                        | will deliver it to your door whenever works best for you. You can
                        | change delivery schedule and address daily!
                .step-img-box
                    img.step-img(src='/img/app/app-screen-3.png' alt='Nutriv App Delivery screen')
        section#meals.section-meals
            .container.center-text
                span.subheading Meals
                h2.heading-secondary
                    | Nutriv AI chooses from 1,000,000+ recipes
            .container.grid.grid--3-cols.margin-bottom-medium
                // Meal 1
                .meal
                    img.meal-img(src='/img/dishes/dish-1.png' alt='Avacado Tempura')
                    .meal-content
                        .meal-tags
                            span.tag.tag--vegetarian Vegetarian
                        p.meal-title Avacado Tempura
                        ul.meal-attributes
                            li.meal-attribute
                                // <i class="bi bi-symmetry-vertical meal-icon"></i>
                                ion-icon.meal-icon(name='flame-outline')
                                span Delivery Time: 35 m
                            li.meal-attribute
                                ion-icon.meal-icon(name='restaurant-outline')
                                span Tapas
                            li.meal-attribute
                                ion-icon.meal-icon(name='card')
                                span ₹397
                // Meal 2
                .meal
                    img.meal-img(src='/img/dishes/dish-5.png' alt='Double Decker Burger')
                    .meal-content
                        .meal-tags
                            span.tag.tag--vegetarian Vegetarian
                        p.meal-title Double Decker Burger


                        ul.meal-attributes
                            li.meal-attribute
                                // <i class="bi bi-symmetry-vertical meal-icon"></i>
                                ion-icon.meal-icon(name='flame-outline')
                                span Delivery Time: 30 m
                            li.meal-attribute
                                ion-icon.meal-icon(name='restaurant-outline')
                                span Main Dish
                            li.meal-attribute
                                ion-icon.meal-icon(name='card')
                                span ₹250
                // List of diets
                .diets
                    h3.list-title Nutriv works with any diet:
                    ul.list
                        li.list-item
                            ion-icon.list-icon(name='checkmark-outline')
                            span Vegetarian
                        li.list-item
                            ion-icon.list-icon(name='checkmark-outline')
                            span Vegan
                        li.list-item
                            ion-icon.list-icon(name='checkmark-outline')
                            span Pescatarian
                        li.list-item
                            ion-icon.list-icon(name='checkmark-outline')
                            span Gluten-free
                        li.list-item
                            ion-icon.list-icon(name='checkmark-outline')
                            span Lactose-free
                        li.list-item
                            ion-icon.list-icon(name='checkmark-outline')
                            span Keto
                        li.list-item
                            ion-icon.list-icon(name='checkmark-outline')
                            span Paleo
                        li.list-item
                            ion-icon.list-icon(name='checkmark-outline')
                            span Low FODMAP
                        li.list-item
                            ion-icon.list-icon(name='checkmark-outline')
                            span Kid-friendly
            .contaner.menu
                p See the biggest menu in the world
                a.link(href='/menu' target='_self' rel='noreferrer') Click here
                p.beta Beta
        section#testimonials.section-testimonials
            .testimonials-container
                span.subheading Testimonials
                h2.heading-secondary Once you try it, you can&apos;t go back!
                .testimonials
                    // Review 1
                    figure.testimonial
                        img.testimonial-img(src='/img/customers/dave.jpg' alt='Image Of customer Dave Bryson ')
                        blockquote.testimonial-text
                            | Inexpensive, healthy and great-tasting meals, without even
                            | having to order manually! It feels truly magical.
                            p.testimonial-name &ndash; Dave Bryson<ion-icon class="verified-icon" name="checkmark-circle"></ion-icon>
                            // Review 2
                    figure.testimonial
                        img.testimonial-img(src='/img/customers/ben.jpg' alt='Image Of customer Ben Hadley ')
                        blockquote.testimonial-text
                            | The AI algorithm is crazy good, it chooses the right meals for
                            | me every time. It&apos;s amazing not to worry about food anymore!
                            p.testimonial-name &ndash; Ben Hadley
                            // Review 3
                    figure.testimonial
                        img.testimonial-img(src='/img/customers/steve.jpg' alt='Image Of customer Steve Miller ')
                        blockquote.testimonial-text
                            | Nutriv is a life saver! I just started a company, so there&apos;s no
                            | time for cooking. I couldn&apos;t live without my daily meals now!
                            p.testimonial-name &ndash; Steve Miller
                            // Review 4
                    figure.testimonial
                        img.testimonial-img(src='/img/customers/hannah.jpg' alt='Image Of customer Hannah Smith ')
                        blockquote.testimonial-text
                            | I got Nutriv for the whole family, and it frees up so much time!
                            | Plus, everything is organic and vegan and without plastic.
                            p.testimonial-name &ndash; Hannah Smith
            .gallery
                figure.gallery-item
                    img(src='img/gallery/gallery-1.jpg' alt='Photo of food')
                    // <figcaption>Captions</figcaption>
                figure.gallery-item
                    img(src='img/gallery/gallery-2.jpg' alt='Photo of food')
                figure.gallery-item
                    img(src='img/gallery/gallery-3.jpg' alt='Photo of food')
                figure.gallery-item
                    img(src='img/gallery/gallery-4.jpg' alt='Photo of food')
                figure.gallery-item
                    img(src='img/gallery/gallery-5.jpg' alt='Photo of food')
                figure.gallery-item
                    img(src='img/gallery/gallery-6.jpg' alt='Photo of food')
                figure.gallery-item
                    img(src='img/gallery/gallery-7.jpg' alt='Photo of food')
                figure.gallery-item
                    img(src='img/gallery/gallery-8.jpg' alt='Photo of food')
                figure.gallery-item
                    img(src='img/gallery/gallery-9.jpg' alt='Photo of food')
                figure.gallery-item
                    img(src='img/gallery/gallery-10.jpg' alt='Photo of food')
                figure.gallery-item
                    img(src='img/gallery/gallery-11.jpg' alt='Photo of food')
                figure.gallery-item
                    img(src='img/gallery/gallery-12.jpg' alt='Photo of food')
