extends base

block append head
    //- script(src='/js/login.js' defer='')
    
block append header
    include inc/_header

block content
    //- <div class="alert alert--success">Successfull</div>
    section#signup.section-signup
        .container
            .signup
                .signup-text-box
                    h2.heading-secondary Login to your account!
                    p.signup-text
                        | Healthy, tasty and hassle-free meals are waiting for you. Start
                        | eating well today. You can cancel or pause anytime. And the
                        | first meal is on us!
                    form.form--login.signup-form
                        div
                            label(for='email') Email address
                            input#email(type='email' placeholder='me@example.com' required='')
                        div
                            label(for='password') Password
                            input#password(type='password' placeholder='••••••••' required='')

                        button.btn.btn--form Login
                        //
                            <input type="checkbox" />
                            <input type="number" />
                .signup-img-box(role='img' aria-label='Food')