extends base

block append head
    //- script(src='/js/form.js' defer='')


block append header
    include inc/_header

block content
    section#form.section-form
        .container
            .form
                .form-text-box
                    h2.heading-secondary Get your first meal for free!
                    p.form-text
                        | Healthy, tasty and hassle-free meals are waiting for you. Start
                        | eating well today. You can cancel or pause anytime. And the
                        | first meal is on us!
                    form.form--signup.form-form
                        div
                            label(for='name') Full Name
                            input#name(type='text' placeholder='John Smith' required='')
                        div
                            label(for='email') Email address
                            input#email(type='email' placeholder='me@example.com' required='')
                        div
                            label(for='password') Password
                            input#password(type='password' placeholder='••••••••' required='')
                        div
                            label(for='confirm-password') Confirm Password
                            input#confirm-password(type='password' placeholder='••••••••' required='')
                        div
                            label Profile Photo
                            input#photo(type='file' placeholder='••••••••' accept='image/*')
                            label(for="photo" class='label') Choose a Photo 

                        button.btn.btn--form Sign up now
                            //
                                <input type="checkbox" />
                                <input type="number" />
                .form-img-box(role='img' aria-label='Food')