extends base

block append header 
    include inc/_header

block content
     section#form.section-form
        .container
            .form
                .form-text-box
                    h2.heading-secondary Verify your account.
                    p.form-text Wern't able to verify your account before? No Problem! Verify it now! Enter your email address below.
                    form.form--verify.form-form
                        div
                            label(for='email') Email address
                            input#email(type='email' placeholder='me@example.com' required='')
                        div
                            label(for='password') Password
                            input#password(type='password' placeholder='••••••••' required='')

                        button.btn.btn--form Verify Account
                        //
                            <input type="checkbox" />
                            <input type="number" />
                .form-img-box(role='img' aria-label='Food')