:root {
  --primary: #2175f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

body {
  background-color: #efefef;
  /* background-image: url("../img/map.png"); */
}

.item-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
  margin-top: 20rem;
}

.item-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 860px;
  z-index: 1;
}

.item-shoeBackground {
  position: relative;
  width: 50%;
  height: 480px;
  /*   box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1); */
  transition: 0.5s;
}

.item-gradients {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.item-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

.item-first {
  z-index: 0;
  animation: 1s width ease;
}

@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.item-second {
  z-index: -1;
}

.item-logo {
  position: absolute;
  width: 100px;
  left: 15px;
  top: -15px;
}

.item-share {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary);
  transition: 0.5s;
}

.item-share:hover {
  transform: scale(1.1);
}

.item-share i {
  line-height: 50px;
}

.item-nike {
  position: absolute;
  top: 85px;
  left: 15px;
  font-size: 11rem;
  text-transform: uppercase;
  line-height: 0.9;
  color: #fff;
  opacity: 0.1;
}

.item-shoe {
  width: 380px;
  height: 250px;
  margin-top: 8rem;
  margin-left: 1rem;
  border-radius: 11px;
}

.item-shoe.show {
  opacity: 1;
}

.item-info {
  width: 50%;
  background-color: #fff;
  z-index: 1;
  padding: 35px 40px;
  box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.item-shoeName {
  padding: 0 0 10px 0;
}

.item-shoeName div {
  display: flex;
  align-items: center;
}

.item-shoeName div .item-big {
  margin-right: 10px;
  font-size: 3rem;
  color: #333;
  line-height: 1;
}

.item-shoeName div .item-new {
  background-color: var(--primary);
  text-transform: uppercase;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 1.8rem;
}

.item-shoeName .item-small {
  font-weight: 500;
  color: #444;
  margin-top: 1rem;
  text-transform: capitalize;
  font-size: 1.8rem;
}

.item-shoeName,
.item-description,
.item-color-container,
.item-size-container {
  border-bottom: 1px solid #dadada;
}

.item-description {
  padding: 10px 0;
}

.item-title {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.item-text {
  color: #555;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.item-color-container {
  padding: 10px 0;
}

.item-colors {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.item-color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
  border: 5px solid;
  cursor: pointer;
  transition: 0.5s;
}

.item-color[color="blue"] {
  background-color: #2175f5;
  border-color: #2175f5;
}

.item-color[color="red"] {
  background-color: #f84848;
  border-color: #f84848;
}

.item-color[color="green"] {
  background-color: #29b864;
  border-color: #29b864;
}

.item-color[color="orange"] {
  background-color: #ff5521;
  border-color: #ff5521;
}

.item-color[color="black"] {
  background-color: #444;
  border-color: #444;
}

.item-color.active {
  border-color: #fff;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.item-size-container {
  padding: 10px 0;
  margin-bottom: 10px;
}

.item-sizes {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.item-size {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #eee;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.item-size.item-active {
  background-color: var(--primary);
  color: #fff;
  transition: 0.5s;
}

.item-buy-price {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}

.item-price {
  color: #333;
  display: flex;
  align-items: flex-start;
}

.item-price h1 {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1;
}

.item-price i {
  font-size: 1.4rem;
  margin-right: 1px;
}

.item-buy {
  padding: 0.7rem 1rem;
  background-color: var(--primary);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.8rem;
  transition: 0.5s;
  padding: 1.3rem;
}

.item-buy:hover {
  transform: scale(1.1);
}

.item-buy i {
  margin-right: 2px;
}

@media (max-width: 1070px) {
  .item-shoe {
    width: 135%;
  }
}

@media (max-width: 1000px) {
  .item-card {
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
  }

  .item-card > div {
    width: 100%;
    box-shadow: none;
  }

  .item-shoe {
    width: 100%;
    /* transform: rotate(-5deg) translateY(-50%); */
    top: 55%;
    right: 2%;
  }

  .item-nike {
    top: 20%;
    left: 5%;
  }
}

@media (max-width: 600px) {
  .item-share {
    width: 40px;
    height: 40px;
  }

  .item-share i {
    font-size: 1rem;
    line-height: 40px;
  }

  .item-logo {
    width: 70px;
  }
}

@media (max-width: 490px) {
  .item-nike {
    font-size: 7rem;
  }

  .item-shoeName div .item-big {
    font-size: 1.3rem;
  }

  .item-small {
    font-size: 1rem;
  }

  .item-new {
    padding: 2px 6px;
    font-size: 0.9rem;
  }

  .item-title {
    font-size: 0.9rem;
  }

  .item-text {
    font-size: 0.8rem;
  }

  .item-buy {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }

  .item-price h1 {
    font-size: 1.5rem;
  }

  .item-price i {
    font-size: 0.9rem;
  }

  .item-size {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    font-size: 0.9rem;
    line-height: 30px;
  }

  .item-color {
    margin: 0 6px;
    width: 0 20px;
    width: 20px;
    height: 20px;
    border-width: 4px;
  }

  .item-share {
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
  }

  .item-share i {
    font-size: 0.8rem;
    line-height: 35px;
  }

  .item-logo {
    width: 50px;
    top: 10px;
    left: 10px;
  }

  .item-info {
    padding: 20px;
  }

  .item-shoe {
    width: 70%;
    margin-top: 2rem;
    margin-left: 3.5rem;
    border-radius: 11px;
  }
}

@media (max-width: 400px) {
  .item-buy i {
    display: none;
  }

  .item-container {
    padding: 20px;
    z-index: 1;
  }
}

.item-rating {
  text-align: center;
}

.item-star {
  color: var(--primary);
  font-size: 1.8rem;
  margin-top: 0.5rem;
}

.item-chef-details {
  display: flex;
  align-items: center;
  align-self: center;
}

.item-chef-img {
  width: 10%;
  border-radius: 50px;
  margin-right: 0.5rem;
}

.item-chef-name {
  margin-right: 0.2rem;
  font-size: 2rem;
}
.item-verify {
  margin-right: 1rem;
  color: var(--primary);
  font-size: 1.8rem;
}

/* #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url("../img/pin.png");
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 25rem;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
}
 */
