@import url(inc/_hero.css);
@import url(inc/_featured-in.css);
@import url(inc/_features.css);
@import url(inc/_howitworks.css);
@import url(inc/_meals.css);
@import url(inc/_places.css);
@import url(inc/_testimonials.css);
@import url(inc/_pricing.css);
@import url(inc/_signup.css);
@import url(inc/_footer.css);
/* @import url(inc/_login-signup.css); */

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
