extends ../base

block header 
    include ../inc/_header

block content
    section#form-admin.section-form-admin
        .container
            .form-admin
                .form-admin-text-box
                    h2.heading-secondary Forgot Password?
                    p.form-admin-text Enter your email address and reset your password
                    form.form-admin--forgotPassword.form-admin-form-admin
                        div
                            label(for='forgotPasswordEmail') Email
                            input#forgotPasswordEmail(type='email' placeholder='example@example.com' required='')
                        button.btn-add-dish.btn.btn--form-admin Send Email
